.footer {
    background-color: $section-light;
    height: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: $big-font-size;
        font-weight: $font-regular;
        align-items: center;
    }

    .social__media {
       
         .social__media__icon {
             font-size: $big-font-size;
             color:$first-color
         }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        place-items: center;

        h1 {
          margin-left: 30px;
          margin-top: -10px;
        }

        .social__media{
            margin-right: 30px;
        }
    }
}