.footer {
    background-color: $section-light;
    // height: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: $big-font-size;
        font-weight: $font-regular;
        align-items: center;
        margin-top: 10px;
    }

    .social__media {
        margin-top: 10px;
         .social__media__icon {
             font-size: $big-font-size;
             color:$first-color;
             margin-left: 20px;
         }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
         display: flex;
         text-align: left;
        }

        .social__media{
            text-align: right;
            margin-right: 30px;
        }
    }
}