.footer {
    background-color: $section-light;
    height: 180px;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 1f;

    h1 {
        font-size: $bigger-font-size;
        font-weight: $font-regular;
        grid-row: 1/2;
        align-items: center;
        margin-top: 25px;
    }

    .social__media {
        grid-row: 2/3;
         .social__media__icon {
             font-size: 40px;
             margin: 13px;
             color:$first-color
         }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        place-items: center;

        h1 {
          margin-left: 30px;
          margin-top: -10px;
        }

        .social__media{
            margin-right: 30px;
        }
    }
}