.main {
    background-color: $body-color;
    padding: 5px;
    
    ///////// Sub__nav
   .sub__nav{
        display: flex;
        padding: 25px 80px;
        justify-content: center;
        place-items: center;

        .sub__nav__list {
            display: flex;
            align-items: center;
            font-size: 1.70rem;
            font-family: $body-font;
            font-weight: $font-regular;
        }

        .sub__nav__item {
            font-family: $body-font;
            display: flex ;
            flex-direction: column;
            margin: 0 30px;
            text-align: center;
         }

         .sub__nav__link{
            color:$first-color;
        }
    }
    
    /////////  Content
    .content {
        background-color: $section-light;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // display: grid;
        // grid-template: 100px 400px 400px 100px/ 100px 400px 400px 100p;
        // grid-gap: 10px 5px;
        padding: 70px 25px;
        margin: 10px 57px 40px 40px ;
        place-items: center;
        border: 1px solid;
        border: none;
        border-radius: 25px;
        border-color: $border-color;
        height: auto;
      
       
        .content__header {
            display: flex;
            flex-direction: column;
            font-size: $biggest-font-size;
            grid-column: 1 / 5;
            grid-row: 1/2;
            
            .content__title{
               font-weight: $font-regular
            }
            .content__text {
                font-size: $bigger-font-size;
            }
        }

        .content__pods {
            display: flex;
            flex-direction: row;
            
            .content__img1{
                display: flex;
                flex-direction: row;
                margin-top: 40px;
               
            
                .content_img_icon1 {
                    width: 180px;
                    margin-right: 20px;
                }
            }
            .content__img2{
                display: flex;
                flex-direction: row;
                margin-top: 80px;
                margin-bottom: -60px;
                
                .content_img_icon2 {
                    width: 180px;
                    margin-left: 20px;
                }
            }

        }

        .content__scroll {
            padding: 10px;
            margin-top: 115px;

            p {
                font-size: $bigger-font-size;
                font-weight: $font-regular;
                color: $first-color;
                margin-bottom: 10px;
            }

            i {
                margin-top: 10px;
                font-size: 76px;
                color: rgb(86, 13, 155)
            }
        }
    }
}

@media screen and (min-width: 768px) {
        
        .sub__nav{
            justify-content: space-between;
        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
           

            .content__header {
               display: flex;
               flex-direction: column;
               text-align: left;
               align-content: center;
            }

            .content__img1{
               display: flex;
               align-self: start;
            }
            
            .content__img2{
                display: flex;
                text-align: right;
            }
            
            .content__scroll{
                text-align: center;
            }
        }
    }
