////// Nav-bar

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%; /*  5.9rem*/ 
        display: flex;
        flex-direction: column;
        font-size: $bigger-font-size;
        font-weight: $font-regular;
        left: 0;
        background-color: $white-color;
        border-radius: 36px; 
        width: calc(100% - 3rem);
        height: auto;
        margin-left: 1rem;
        padding: 5rem 2rem;
        z-index: $z-index;
        text-align: center;
        align-items: center;
        transition: all 0.5s;
    }
}





