#header {
    position: absolute;
    width: 100%; 
}
.show{
    top:5.9rem !important;
}

/////// Nav
.nav {
    position: fixed;
    top:0;
    width: 100%;
    border-bottom: 1px solid;
    border-color: $border-color;
    border: none;
    box-shadow:black;
    background-color: $white-color;
    height: $header-height;
    color: $white-color;
    font-family: $body-font;
    font-size: $big-font-size ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: $white-color;
    text-align: center;
    

    .nav__logo {
        color:$first-color;
        font-family: $body-font;
        font-weight: $font-bold;
        font-size: $big-font-size;
        margin: 5px 20px;
    }

    .nav__list {
        display: flex;
        font-size: $big-font-size;
    }
    
    .nav__item{
        padding: 7px;
    }
    
    .nav__toggle {
        color: $first-color;
        font-size: 36px;
        align-items: center;
        margin-left: 110px;
    }
    
    .nav__link{
        color:$first-color;
    }

    .nav__compare{
        font-size: $big-font-size;
        font-weight: $font-regular;
        color: $white-color;
        border: 1px solid;
        border-color: $border-color;
        background-color: $first-color;
        border-radius: 27px;
        padding: 12px;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-around;

        .nav__list {
            // margin-left: 850px;
        }

        .nav__toggle {
            display: none;
        }

    }

   
   
}